.content-entry__header {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
}

.content-entry__text-wrapper {
  font-size: 14px;
  line-height: 18px;
}

.company,
.designation,
.date,
.company-location,
.main-content-column--left .content-entry__text-wrapper {
  font-size: 16px;
  line-height: 20px;
}

.project-link {
  font-size: 16px;
}

.company,
.designation {
  font-weight: bold;
}

.designation {
  font-style: italic;
}

.company span {
  font-weight: normal;
}

.designation {
  /* line-height: 18px; */
  color: rgb(34, 34, 34);
}

/* .company {
  font-weight: bold;
} */

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
